#map{
    width: 100%;
    height: 100%;
}

#about {
    margin-top: 10px;
    background: white;
    border: 3px solid #1cf55c;
    padding-left: 10px;
    margin-left: 15px;
}

#abouttitle {
    text-align: center;
    color: gray;
    text-emphasis: bold;
    border: 1px solid black;
}

#versioning {
    color: lightgray;
    text-align: right;
    padding-top: 10px;
}

#aboutdescription {
    margin-top: 5px;
    padding-top: 0px;
    text-align: left;
    border: 1px solid black;
    color: black;
}

#legend {
    font-family: Arial, sans-serif;
    background: #ede7c0;
    padding: 10px;
    margin-top: 15px;
    margin: 10px;
    border: 3px solid #d38476;
}

#legend h3 {
    margin-top: 0;
}

#legend img {
    vertical-align: middle;
}

#directionpanel {
    background-color: #253746;
    border: 3px solid #1cf55c;
    text-align: center;
}

#submit {
    border-radius: 12px;
    background-color: #253746;
    border-color: #1cf55c;
    text-align: center;
    color: white;
    padding: 16px 32px;
}

#submit:hover {
    color: gray;
}

#sentence {
    color: white;
    font-size: 14px;
    margin: 4px;
    padding: 10px;
}

.map-container {
    width: 100%;
    padding-bottom: 56.26%;
    overflow: hidden;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.infocontent{
    border-color: #1cf55c;
    border-style: solid;
    border-width: 5px;
    background-color: #253746;
}
.firstHeading{
    text-align: center;
    font-size: 16px;
    color: white;
}
.bodycontent{
    font-size: 16px;
    color:white;
}

#settings{
    border-width: 2px;
    border-style: solid;
    background-color: #ede7c0;
}

.iconSize{
    background-color: #253746;
    color: white;
    padding: 5px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
}

#readingpane{
    resize:both;
    overflow:auto;
    background-color: #253746;
    border-style: solid;
    border-color: #1cf55c;
    color: white;
    width: 520px;
    height: 350px;
}
#readingtitle{
    font-size: 20px;
    text-align: center;
    border-style: solid;
    border-color: #1cf55c;
    padding-top: 0px;
    margin-top: 0px;
}

#focuspane{
    font-size: 14px;
    text-align: center;
    border-style:solid;
    border-color: #d38476;
    background-color: #ede7c0;
    padding-right: 2px;
    padding-left: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#footer{
    
}
#ownership{
    color: white;
}