#map {
    width: 100%;
    height: 750px;
}

#about {
    margin-top: 10px;
    background: white;
    border: 3px solid #1cf55c;
    padding-left: 10px;
    margin-left: 15px;
}

#abouttitle {
    text-align: center;
    color: gray;
    text-emphasis: bold;
    border: 1px solid black;
}

#versioning {
    color: lightgray;
    text-align: right;
    padding-top: 10px;
}

#aboutdescription {
    margin-top: 5px;
    padding-top: 0px;
    text-align: left;
    border: 1px solid black;
    color: black;
}

#legend {
    font-family: Arial, sans-serif;
    background: #ede7c0;
    padding: 10px;
    margin-top: 15px;
    margin: 10px;
    border: 3px solid #d38476;
}

#legend h3 {
    margin-top: 0;
}

#legend img {
    vertical-align: middle;
}

#directionpanel {
    background-color: #253746;
    border: 3px solid #1cf55c;
    text-align: center;
}

#submit {
    border-radius: 12px;
    background-color: #253746;
    border-color: #1cf55c;
    text-align: center;
    color: white;
    
}

#submit:hover {
    color: gray;
}

#sentence {
    color: white;
    font-size: 14px;
    margin: 4px;
    padding: 10px;
}

.map-container {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.infocontent{
    border-color: #d38476;
    border-style: solid;
    border-width: 5px;
    background-color: #ede7c0;
}
.firstHeading{
    text-align: center;
    color: #d38476;
}
.infopane{
    background: #d38476;
}